<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .flexcontainer {
            width: 300px;
            display: flex;
            flex-flow: row wrap;
        }
        .flexcontainer li {
            width: 50%;
            background-color: pink;
        }


    </style>
</head>
<body>
<div>
    <ul class="flexcontainer">
        <li>Something</li>
        <li>Fox Example</li>
        <li>All About Web</li>
        <li>Fox Example</li>
        <li>Something</li>
        <li>Fox Example</li>
        <li>Something</li>
        <li>Fox Example</li>
    </ul>

</div>


</body>
</html>